<style type="text/css">
    @font-face {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      src: local(Roboto), local(Roboto-Regular),
        url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
          format("woff2");
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
      font-family: "Roboto Mono";
      font-style: normal;
      font-weight: 400;
      src: local("Roboto Mono"), local(RobotoMono-Regular),
        url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2)
          format("woff2");
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
    }
    *,
    :after,
    :before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }
    html,
    body,
    .document {
      width: 100% !important;
      height: 100% !important;
      margin: 0;
      padding: 0;
    }
    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }
    table,
    td {
      mso-table-lspace: 0;
      mso-table-rspace: 0;
    }
    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin: 0 auto;
    }
    img {
      -ms-interpolation-mode: bicubic;
      max-width: 100%;
      border: 0;
    }
    [x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
    }
    .x-gmail-data-detectors,
    .x-gmail-data-detectors *,
    .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
    }
    .btn {
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
    }
    .btn:hover {
      background-color: dodgerblue;
    }
    .previewText {
      display: none !important;
    }
    @media only screen and (max-width: 480px){
        #templateColumns{
            width:100% !important;
        }

        .templateColumnContainer{
            display:block !important;
            width:100% !important;
        }

        .columnImage{
            height:auto !important;
            max-width:480px !important;
            width:100% !important;
        }

        .leftColumnContent{
            font-size:16px !important;
            line-height:125% !important;
        }

        .rightColumnContent{
            font-size:16px !important;
            line-height:125% !important;
        }
    }
    @media screen and (max-width: 599px) {
      .body {
        min-width: 100wv !important;
      }
    }
    @media screen and (max-width: 599px) {
      .center {
        text-align: center;
      }
    }
    @media screen and (max-width: 599px) {
      .flex {
        width: 100% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .mobile-show {
        display: initial !important;
      }
    }
    @media screen and (max-width: 599px) {
      .mobile-hide {
        display: none !important;
      }
    }
    @media screen and (max-width: 599px) {
      .meet {
        padding-bottom: 0 !important;
      }
    }
    @media screen and (max-width: 599px) {
      .meet-wrap {
        padding-top: 50px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .meet-img {
        display: initial !important;
      }
    }
    @media screen and (max-width: 599px) {
      .meet-header {
        padding-top: 40px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .header-2 {
        font-size: 36px !important;
        line-height: 36px !important;
        padding-bottom: 20px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .download-block {
        padding-bottom: 110px !important;
        padding-top: 10px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .side-by-side {
        padding-top: 30px !important;
        text-align: center !important;
      }
    }
    @media screen and (max-width: 599px) {
      .art-item {
        width: 45% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .art-item-odd {
        width: 45% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .art-item-cell {
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .art-item-cell-odd {
        padding-right: 5% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .art-item-cell-even {
        padding-left: 5% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .art-item-img {
        height: auto !important;
        width: 100% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .art-item-img-odd {
        width: 90% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .feature-img-hero {
        width: 100% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .feature-img-landscape {
        width: 100% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .feature-img-portrait {
        background-color: thistle;
        padding-left: initial !important;
        padding-right: initial !important;
        width: 64% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .img-side-by-side {
        width: 64% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .feature-caption {
        font-size: 14px !important;
        line-height: 20px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
    @media screen and (max-width: 599px) {
      .feature-caption-portrait {
        font-size: 14px !important;
        line-height: 20px !important;
        padding-right: 18% !important;
        padding-left: 18% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .feature-header {
        font-size: 30px !important;
        line-height: 34px !important;
      }
      .feature-text .feature-span {
        padding: 20px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .follow-title {
        font-size: 36px !important;
        line-height: 38px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .follow-tagline {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .section-header {
        font-size: 26px !important;
        line-height: 30px !important;
      }
    }
    @media screen and (max-width: 599px) {
      .footer-set {
        padding-bottom: 0 !important;
      }
    }
    @media screen and (max-width: 599px) {
      .footer-group {
        display: block !important;
        width: 100% !important;
      }
    }
    @media screen and (max-width: 599px) {
      .footer-group-last-item {
        padding-bottom: 40px !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .top-left {
        padding-left: 10px !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .top-right {
        padding-right: 10px !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .ios-gutters {
        width: 88% !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .feature-img-hero {
        width: 88% !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .feature-img-landscape {
        width: 88% !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .feature-caption {
        padding-right: 6% !important;
        padding-left: 6% !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
        .feature-text {
            width: 100%;
            font-size: 17px;
            line-height: 25px;
            padding: 0 6% 50px !important;
          }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .ios-gutters {
        width: 88% !important;
      }
    }
    @media screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
      .art-item-img-even {
        padding-bottom: 5px !important;
      }
    }
    .feature-text{
        /*@tab Page
  @section main heading*/
        color: #000000 !important;
        font-family: Roboto, Helvetica, Arial, sans-serif !important;
        text-decoration: none !important;
        padding-bottom: 20px !important;
      }
    .feature-text a {
      /*@tab Page
@section main heading
@style Pink Text Link*/
      color: #f7bdd1 !important;
      font-family: Roboto, Helvetica, Arial, sans-serif !important;
      text-decoration: none !important;
    }
    .feature-text.black-block a {
      /*@tab Page
@section main heading
@style Black Linked Text Block*/
      color: #000000 !important;
      font-family: Roboto, Helvetica, Arial, sans-serif !important;
      text-decoration: none !important;
    }
    .feature-text.green-block a {
      /*@tab Page
@section main heading
@style Green Linked Text Block*/
      color: #3c6738 !important;
      font-family: Roboto, Helvetica, Arial, sans-serif !important;
      text-decoration: none !important;
    }
    .art-item-cell a {
      /*@tab Page
@section main heading
@style Art Item Cell*/
      color: #9b9b9b !important;
      font-family: Roboto, Helvetica, Arial, sans-serif !important;
      text-decoration: none !important;
    }
    .grey-link a {
      /*@tab Page
@section main heading
@style Grey Link*/
      color: #9b9b9b !important;
      font-family: Roboto, Helvetica, Arial, sans-serif !important;
      text-decoration: none !important;
    }
    .feature-text a,
      .pink-link a {
        color: #f7bdd1 !important;
        text-decoration: none !important;
      }
    .green-link a {
      /*@tab Page
@section main heading
@style Green Link*/
      color: #3c6738 !important;
      font-family: Roboto, Helvetica, Arial, sans-serif !important;
      text-decoration: none !important;
    }
    .black-link a {
      /*@tab Page
@section main heading
@style Black Link*/
      color: #000000 !important;
      font-family: Roboto, Helvetica, Arial, sans-serif !important;
      text-decoration: none !important;
    }

  .black-link-lg a {
    color: #000 !important;
    text-decoration: none !important;
    height: 34px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    vertical-align: bottom;
    width: 100%;
  }
  </style>